.poke-page{
    padding-top: 2em;
}

.poke-page .card-header{
    display: flex;
    justify-content: space-between;
}

.card-header .name{
    text-transform: capitalize;
}

.poke-page a {
    position: absolute;
    top: 0;
    margin-top: 4em;
}

.bi {
    font-size: 2em;
    color: dimgray;
    transition: linear 0.2s;
}

.bi:hover {
    font-size: 2.25em;
}

.poke-page img {
    display: block;
    margin: 1em auto 0px auto;
    height: 200px;
}

.poke-type-container {
    display: flex;
    justify-content: center;
}

.poke-type {
    margin: 1em 0.5em;
    border-radius: 16px;
    color: aliceblue;
    padding: 5px 16px;
}

.poke-type::first-letter {
    text-transform: uppercase;
}

.card-body-info{
    padding: 1em 0;
}

.about-poke{
    border-radius: 1em;
    padding: 1em;
    color: aliceblue;
}

.about-poke hr{
    border-top: 3px solid white;
}

.card-title {
    text-align: center;
}

.about-stats{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-stats div{
    width: 100%;
}

.stats-poke{
    margin-top: 2em;
    padding: 1em;
}

.stat-item{
    margin-bottom: 1em;
}