.poke-page{
    padding-top: 1em;
}

.card-body-basic{
    position: relative;
}
.pokeball{
    position: absolute;
    height: 200px;
    top: -6em;
    zoom: 2;
    left: -3rem;
    z-index: -1;
    opacity: 0.1;
}

.card {
    border: none;
    background-color: transparent;
}

.poke-page .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 1em;
    color: white;
    z-index: 1;
}

.card-header .name{
    text-transform: capitalize;
}

.bi {
    font-size: 2em;
    color: white;
    position: absolute;
    top: 0;
    padding-top: 0.1em;
    transition: linear 0.2s;
}

.bi:hover {
    
    font-size: 2.2em;
}

.poke-page img {
    display: block;
    margin: 1em auto 0px auto;
    height: 200px;
}

.poke-type-container {
    display: flex;
    justify-content: center;
}

.poke-type {
    margin: 1em 0.5em;
    border-radius: 16px;
    color: aliceblue;
    padding: 5px 16px;
}

.poke-type::first-letter {
    text-transform: uppercase;
}

.card-body-info{
    padding: 1em 0;
}

.about-poke{
    border-radius: 1em;
    padding: 1em;
    color: aliceblue;
}

.about-poke hr{
    border-top: 3px solid white;
}

.card-title {
    text-align: center;
}

.about-stats{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-stats div{
    width: 100%;
}

.stats-poke{
    margin-top: 2em;
    padding: 1em;
}

.stat-item{
    margin-bottom: 1em;
}