.buttons-type {
    display: flex;
}

.buttons-type-list {
    display: flex;
    overflow: auto;
}

.button-type {
    padding: 0.5em 0.75em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    height: 100%;
}