.poke-box {
    opacity: 0;
    border-radius: 1em;
    display: flex;
    position: relative;
    height: 100px;
}

.poke-id {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75em;
    border-radius: 1em 0 1em 0;
    background-color: gray;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
}

.poke-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em 0.75em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffff;
}

.poke-img {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: -0.5em;
}