.poke-box {
    border-radius: 1em;
    display: flex;
    position: relative;
    height: 100px;
}

.poke-id {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75em;
    border-radius: 1em 0 1em 0;
    background-color: gray;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
}

.poke-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em 0.75em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
}

.poke-img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -20px;
    zoom: 1.3;
}

.grass {
    background-color: #78C850;
}

.fire {
    background-color: #F05030;
}

.water {
    background-color: #3899F8;
}

.bug {
    background-color: #A8B820;
}

.normal {
    background-color: #A8A090;
}

.poison {
    background-color: #B058A0;
}

.electric {
    background-color: #F8D030;
}

.ground {
    background-color: #E9D6A4;
}

.fairy {
    background-color: #E79FE7;
}

.fighting {
    background-color: #A05038;
}

.psychic {
    background-color: #F870A0;
}

.rock {
    background-color: #B8A058;
}

.ghost {
    background-color: #6060B0;
}

.ice {
    background-color: #58C8E0;
}

.dragon {
    background-color: #7860E0;
}

.flying {
    background-color: #98A8F0;
}